/* .content{
    margin: auto 200px;
}

@media screen and (max-width: 1024px) {
    .content{
        margin: auto 70px;
    }
}

@media screen and (max-width: 320px) {
    .content{
        margin: 0 auto;
    }
}
 */
