.popup__text{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 64px 48px 36px;
    color: black;
}



@media screen and (max-width: 580px) {
    .popup__text{
        margin: 25px 22px 75px;
        font-size: 18px;
        line-height: 22px;
    }
}


